<section class="products-show">

  <header class="page-header">
    <h1><%= link_to @product.category.name, @product.category %> &raquo; <%= @product.name %></h1>
  </header>

  <article class="product-detail">

    <div class="row">

      <div class="col-sm-4">
        <%= image_tag @product.image.url, class: 'main-img' %>
      </div>

      <div class="col-sm-8">
        <dl class="dl-horizontal">
          <dt>Name</dt>
          <dd><%= @product.name %></dd>
          <dt>Description</dt>
          <dd><%= @product.description %></dd>
          <dt>Quantity</dt>
          <dd><%= @product.quantity %></dd>
          <dt>Price</dt>
          <dd><%= @product.price %></dd>
        </dl>
      </div>
    </div>

    <% if current_user %>
      <div class="row">

        <div class="col-sm-4">
          <%= form_for :review, url: product_reviews_path(@product.id) do |f| %>
            <div>New Review:</div> <br>
            <ul>
              <%= f.fields_for :review do |review_form| %>
              <li>
                <div class ="dl-horizontal">
                  <%= f.label :description %>
                  <%= f.text_area :description %>
                  <%= f.label :rating %>
                  <%= f.select :rating, [1, 2, 3, 4, 5] %>
                  <%= f.submit("Submit")%>
                </div>
              </li>
            <% end %>
            </ul>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class="row">

      <h4> Reviews </h4>
      <% @product.reviews.reverse.each do |r| %>
        <dl>
          <dt><strong>User:</strong> </dt>
          <dd> <%= r.user_id %> </dd>
          <dt><strong>🌟 Rating:</strong> </dt>
          <dd> <%= r.rating %> / 5 </dd>
          <dt><strong>Description: </strong></dt>
          <dd><%= r.description %></dd><br>
          <% if current_user %>
          <% if r.user_id == current_user.id %>
          <%= button_to 'Delete Review', [r.product, r],
            method: :delete,
            data: { confirm: 'Are you sure?'} %>
          <% end %>
          <% end %>
        </dl>
      <% end %>
    </div>
  </article>
</section>
